.gameboard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Appbar Layout */
.gameboard .app-bar {
  display: flex;
  justify-content: space-between;
  padding: 0px 2rem;
  align-items: center;
}
.app-bar h1 {
  flex-shrink: 0;
}
.app-bar h1 span {
  color: rgb(137, 13, 13);
}
.app-bar .balance {
  display: flex;
  align-items: center;
}
.balance img {
  width: 24px;
  height: 24px;
}
.balance span {
  font-size: 1.25rem;
  font-weight: 500;
  padding-left: 8px;
}

main {
  height: 100%;
}
main>div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* Dice Layout */
.dice-list {
  display: flex;
  gap: 30px;
  height: max-content;
}

.dice {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(33 37 45);
  border-radius: 15px;
  width: 80px;
  padding: 10px;
  height: max-content;
  background-color: rgb(33 37 45);
}

.dice-disable {
  opacity: 0.5;
}
.dice p {
  margin: 0;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.dice > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.dice > div img {
  width: 24px;
  cursor: pointer;
}
.dice > div span {
  flex-shrink: 0;
  flex-grow: 1;
}

.dice input[type="text"] {
  border: none;
  outline: none;
  padding: 3px;
  width: 100%;
  border-radius: 15px;
  font-size: 1rem;
  background-color: black;
  text-align: center;
}

/* Start Game */
.game-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.game-start h2 {
  font-size: 8rem;
  margin: 0;
}

/* Betting */

.bet {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.bet h2 {
  font-size: 3rem;
  margin: 0;
  color: rgb(137, 13, 13);
}
.bet h2 span {
  color: #ffffff;
  font-size: 2.5rem;
}
.bet .status {
  font-size: 1rem;
  font-weight: 600;
}

/* Winner */

.winner {
  display: flex;
  flex-direction: column;
  height: max-content;
}

/* STATS */

.stats {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 2.5rem;
  gap: 20px;
}
.stats h3 {
  margin: 0;
}
.stats .won {
  color: #2a8dfe;
}
.stats .lost {
  color: rgb(137, 13, 13);
}
.stats span {
  color: #ffffff;
  padding-left: 20px;
}
.stats > div { 
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* Play Button */

.play {
  padding: 15px;
  cursor: pointer;
  color: #ffffff;
  background-color: rgb(137, 13, 13);
  border: none;
  font-size: 1rem;
  font-weight: 600;
  width: 50%;
}
.play:hover {
  opacity: 0.8;
}


@media (max-width: 600px) {
  .gameboard {
    /* padding: 1rem; */
  }
  .gameboard .app-bar {
    padding: 0;
  }
}
